<div class="footer-section p-20px" id="footer">
  <div class="container">
    <div class="row text-center" >
      <div class="col-sm-12 main-content">
        <h5><a href="https://rfcx.org"> <h5 class="text-dark">Rainforest Connection</h5> </a></h5>
        <div class="social-links text-dark m-t-10px m-b-10px">
          <a href="https://www.facebook.com/RainforestCx/"><i class="fa fa-lg fa-facebook"></i></a>
          <a href="https://twitter.com/rainforestcx"><i class="fa fa-lg fa-twitter"></i></a>
          <a href="https://www.flickr.com/photos/rainforestcx/"><i class="fa fa-lg fa-flickr"></i></a>
          <a href="https://www.instagram.com/rainforestcx/"><i class="fa fa-lg fa-instagram"></i></a>
          <a href="https://www.youtube.com/user/RfcxOrg"><i class="fa fa-lg fa-youtube"></i></a>
          <a href="https://www.linkedin.com/company/rainforest-connection"><i class="fa fa-lg fa-linkedin"></i></a>
        </div>
        <h6 class="text-dark">77 Van Ness Ave, Suite 101-1717, San Francisco, CA, 94102, USA</h6>
      </div>
    </div>
  </div>
</div>
